<p id="notice"><%= notice %></p>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-4 col-sm-3">
      <% if cocktail.picture? %>
        <% @pic = cl_image_path cocktail.picture.path, height: 300, width: 300, crop: :fill %>
        <% else @pic = '' %>
      <% end %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @pic %>)">
        <div class="card-category"><%= cocktail.category %></div>
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <div class="card-link">
          <%= link_to 'Show', cocktail %>
          <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
          <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
